@font-face {
  font-family: 'Larsseit';
  src: url('../assets/fonts/Larsseit/Larsseit-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Larsseit';
  src: url('../assets/fonts/Larsseit/Larsseit-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Larsseit';
  src: url('../assets/fonts/Larsseit/Larsseit-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Larsseit';
  src: url('../assets/fonts/Larsseit/Larsseit-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Larsseit';
  src: url('../assets/fonts/Larsseit/Larsseit-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Larsseit';
  src: url('../assets/fonts/Larsseit/Larsseit-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Larsseit';
  src: url('../assets/fonts/Larsseit/Larsseit-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Larsseit';
  src: url('../assets/fonts/Larsesit/Larsseit-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Larsseit';
  src: url('../assets/fonts/Larsseit/Larsseit-ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Larsseit';
  src: url('../assets/fonts/Larsseit/Larsseit-ExtraBoldItalic.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
}


* {
cursor: none ;
margin: 0;
box-sizing: border-box;
}

body {
font-family: 'Larsseit', sans-serif;
font-weight: 400;
background-color: #fafafa;
margin: 0px;
overflow-x: hidden;
}

#cursor {
z-index: 30;
position: fixed;
width: 40px;
height: 40px;
background: white;
border-radius: 50%;
mix-blend-mode: difference;
pointer-events: none;
transition: transform .15s ease-in-out;
}

::selection {
  background-color: #ffcc00;
  color: #000000;       
}

.highlight {
  background-color: #711ff5;
  color: #ffffff;
  padding: 0.1em 0.25em;
}

.navbar {
background-color: #fafafa;
margin-right: 20px;
margin-left: 20px;
top: 0px;
z-index: 10;
position: sticky;
display: flex;
align-items: center;
padding: 20px 20px 20px 20px;
height: 80px;
}

.logo{
margin-top: 2px;

}

.logo img {
position: relative;
width: 70px;
}

.link {
font-family: 'Larsseit', sans-serif;
font-weight: 300;
display: flex;
position: absolute;
right: 0;
}

.nav-links {
padding-left: 15px;
justify-content: right;
position: relative;
list-style: none;
display: flex;
gap: 15px;
}

.nav-links li a {
text-decoration: none;
color: #929292;
transition: color 0.3s ease;
}

.accueil li a {
text-decoration: none;
color: #000000;
}

.nav-links li a:hover {
color: #000;
cursor: none;
}

ul{
list-style: none;
}

.contact-btn {
  padding-left: 15px;
}

.contact-btn li a {
margin-right: 20px;
padding: 10px 20px;
border: 1px solid #711ff5;
border-radius: 50px;
text-decoration: none;
color: #711ff5;
transition: background-color 0.45s ease;
}

.contact-btn li a:hover {
background-color: #711ff5;
color: #fff;
cursor: none;
}

.InnerPadding {
padding-left: 6.5vw;
padding-right: 6.5vw;
}

.title {
font-weight: 800;
display: flex;
align-items: center; 
justify-content: center;
font-size: min(5vw, 110px);
margin-top: 5vw;
}

.strokes {
margin-top: -2.9vw;
width: min(4vw, 90px);
margin-left: -1.2vw;
}

#container {
display: flex;
margin: auto;
width: 100%;
height: 10vw;
top: 0;
bottom: 0;
text-align: center;
justify-content: center;
filter: url(#threshold) blur(0.6px);
}

#text1,
#text2 {
position: absolute;
max-width: 1100%200px;
display: inline-block;
font-family: 'Larsseit', sans-serif;
font-weight: 800;
font-size: min(6vw, 120px);
text-align: center;
user-select: none;
color: #711FF5
}

#filters {
width: 0px;
height: 0px;
}

.txtlandingpage {
margin-left: auto;
margin-right: auto;
color:#000000;
font-size: min(1.4vw, 35px);
text-align: center;
width: 40vw;
max-width: 700px;
font-family: 'Larsseit', sans-serif;
font-weight: 300;
}

.imglandingpage {
display: block;
width: 87vw;
max-width: 1700px;
margin: -6vw auto 0;
}

@keyframes slide {
from{
transform: translateX(0);
}
to{
transform: translateX(-100%);
}
}

.logos{
overflow: hidden;
padding-top: 9vw;
white-space: nowrap;
position: relative;
}

.logos:before,
.logos:after {
position: absolute;
top: 0;
width: 300px;
height: 100%;
content: " ";
z-index: 2;
}

.logos:before {
left: 0;
background: linear-gradient(to left,rgba(250,250,250,0),#fafafa);
}

.logos:after {
right: 0;
background: linear-gradient(to right,rgba(250,250,250,0),#fafafa);
}

.logos-slide{
display: inline-block;
animation: 16.8s slide infinite linear;
}

.logos-slide img{
margin: 0px 1.2vw;
height: min(2.5vw, 50px);
}


.colonnes {
margin-top: 17vw;
display: flex;
}

.colonnes > div {
  flex: 1;
}

.colonne1 {
width: 29vw;
}

.SmallTitle {
font-weight: 600;
font-size: min(3.2vw, 80px)
}

.UiUxDesign {
font-size: 1.4vw;
margin-top: 20px;
font-weight: 300;
color: #4e4e4e;
max-width: 27vw;
}

.fleche1 {
margin-left: 16vw;
height: 9vw;
transform: rotate(15deg)
}

.SmallTitle2 {
margin-top: 50vw;
font-weight: 600;
font-size: min(3.2vw, 80px);
}

.NoCode {
font-size: 1.4vw;
margin-top: 20px;
font-weight: 300;
color: #4e4e4e;
max-width: 27vw;
}

.fleche3 {
margin-top: 5vw;
margin-left: 13vw;
height: 5vw;
transform: rotate(20deg)
}

.colonne2 {
width: 29vw;
text-align: center;
position: relative; 
}

.colonne2 img {
top: 27vh;
position: sticky;
width: 21vw;
max-width: 390px;
filter: drop-shadow(10px 10px 20px rgba(153, 153, 153, 0.562));
}

.colonne3 {
width: 29vw;
  
}

.SmallTitle3 {
margin-top: 37vw;
font-weight: 600;
font-size: min(3.2vw, 80px);
margin-left: 4vw;
}

.Graphique {
font-size: 1.4vw;
margin-top: 20px;
font-weight: 300;
color: #4e4e4e;
max-width: 27vw;
margin-left: 4vw;
}

.fleche2 {
margin-left: 2vw;
margin-top: 3vw;
height: 6vw;
}

.presentation {
font-weight: 600;
display: flex;
align-items: center; 
justify-content: center;
font-size: min(4.5vw, 90px);
margin-top: 8vw;
}

.presentation2 {
font-weight: 600;
display: flex;
align-items: center; 
justify-content: center;
font-size: min(4.5vw, 90px);
margin-top: min(1vw, 10px);
color: #711FF5;
}

.subtitle {
margin: auto;
text-align: center;
margin-top: 2vw;
font-size: 1.3vw;
font-weight: 300;
color: #4e4e4e;
max-width: 40vw;
}

#cardDiv{
height: 50vw;
width: 87vw;
max-width: 1200px;
max-height: 800px;
position: relative;
transform-style: preserve-3d;
transition: 0.3s ease;
margin: 3vw auto;
}

.imageCard {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 80vw;
max-width: 1100px;
height: auto;
filter: drop-shadow(10px 10px 50px rgba(153, 153, 153, 0.418));
}

#card2 {
transform: translate(-50%, -50%) translateZ(3em);
z-index: 10;
transform-style: preserve-3d;
transition: 0.3s ease;
}

#btnContainer {
font-family: "Mukta", sans-serif;
font-size: 1rem;
line-height: 1.5;
display: flex;
align-items: center;
justify-content: center;
margin-bottom: -90;
min-height: 100px;
cursor: none;
}

#btnContainer button {
position: relative;
display: inline-block;
cursor: pointer;
outline: none;
border: 0;
vertical-align: middle;
text-decoration: none;
background: transparent;
padding: 0;
font-size: inherit;
font-family: inherit;
cursor: none;
}
button.learn-more {
width: 12rem;
height: auto;
}
button.learn-more .circle {
transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
position: relative;
display: block;
margin: 0;
width: 3rem;
height: 3rem;
background: #282936;
border-radius: 1.625rem;
}
button.learn-more .circle .icon {
transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
position: absolute;
top: -5px;
bottom: 0;
margin: auto;
background: #fff;
}
button.learn-more .circle .icon.arrow {
transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
left: 0.625rem;
width: 1.125rem;
height: 0.125rem;
background: none;
}
button.learn-more .circle .icon.arrow::before {
position: absolute;
content: "";
top: -0.15rem;
right: 0.0625rem;
width: 0.625rem;
height: 0.625rem;
border-top: 0.125rem solid #fff;
border-right: 0.125rem solid #fff;
transform: rotate(45deg);
}
button.learn-more .button-text {
transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
padding: 0.75rem 0;
margin: 0 0 0 1.85rem;
color: #282936;
font-weight: 700;
line-height: 1.6;
text-align: center;
text-transform: uppercase;
}
button:hover .circle {
width: 100%;
}
button:hover .circle .icon.arrow {
transform: translate(0.5rem, 0);
}
button:hover .button-text {
color: #fff;
}

.portfolio {
font-weight: 600;
display: flex;
align-items: center; 
justify-content: center;
font-size: min(4.5vw, 90px);
margin-top: 6vw;
}




@media (max-width: 810px) {
  .colonnes {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .colonne1, .colonne2 {
    flex: 1 1 50%;
  }

  .colonne3 {
    display: none;
  }

#cursor {
z-index: 30;
position: fixed;
width: 40px;
height: 40px;
background: white;
border-radius: 50%;
mix-blend-mode: difference;
pointer-events: none;
transition: transform .15s ease-in-out;
opacity: 0%;
}

.title {
font-weight: 800;
display: flex;
align-items: center; 
justify-content: center;
font-size: 8vw;
margin-top: 5vw;
}

.strokes {
margin-top: -4.8vw;
width: 5vw;
margin-left: -1.2vw;
}

#text1,
#text2 {
position: absolute;
max-width: 1100%200px;
display: inline-block;
font-family: 'Larsseit', sans-serif;
font-weight: 800;
font-size: 7vw;
text-align: center;
user-select: none;
color: #711FF5
}

.txtlandingpage {
margin-left: auto;
margin-right: auto;
color:#000000;
font-size: 3vw;
text-align: center;
width: 70vw;
font-family: 'Larsseit', sans-serif;
font-weight: 300;
}

.imglandingpage {
display: block;
width: 87vw;
margin-top: 1vw;
}

.logos:before,
.logos:after {
position: absolute;
top: 0;
width: 200px;
height: 100%;
content: " ";
z-index: 2;
}

.logos-slide img{
margin: 0vw 3vw;
height: 6vw;
}

.SmallTitle {
margin-top: -7vw;
font-weight: 600;
font-size: 6vw;
}

.UiUxDesign {
font-size: 3vw;
margin-top: 20px;
font-weight: 300;
color: #4e4e4e;
max-width: 270px;
}

.fleche1 {
margin-top: 7vw;
margin-left: 20vw;
height: 17vw;
transform: rotate(15deg)
}

.SmallTitle2 {
margin-top: 5vw;
font-weight: 600;
font-size: 6vw;
}

.NoCode {
font-size: 3vw;
margin-top: 20px;
font-weight: 300;
color: #4e4e4e;
max-width: 270px;
}

.fleche3 {
margin-top: 9vw;
margin-left: 17vw;
height: 8vw;
transform: rotate(20deg)
}

.SmallTitle3 {
margin-top: 5vw;
font-weight: 600;
font-size: 5vw;
margin-left: -1vw;
}

.Graphique {
margin-left: -1vw;
font-size: 3vw;
margin-top: 20px;
font-weight: 300;
color: #4e4e4e;
max-width: 270px;
}

.fleche2 {
transform: rotate(185deg);
margin-left: 12vw;
margin-top: 3vw;
height: 11vw;
}

.colonne2 img {
top: 34vh;
position: sticky;
width: 32vw;
max-width: 390px;
filter: drop-shadow(10px 10px 20px rgba(153, 153, 153, 0.562));
}

.presentation {
font-weight: 600;
display: flex;
align-items: center; 
justify-content: center;
font-size: 8vw;
margin-top: 20vw;
}

.presentation2 {
text-align: center;
font-weight: 600;
display: flex;
align-items: center; 
justify-content: center;
font-size: 8vw;
margin-top: min(1vw, 10px);
color: #711FF5;
}

.subtitle {
margin: auto;
text-align: center;
margin-top: 7vw;
font-size: 3vw;
font-weight: 300;
color: #4e4e4e;
max-width: 70vw;
}

.portfolio {
text-align: center;
font-weight: 600;
display: flex;
align-items: center; 
justify-content: center;
font-size: 8vw;
margin-top: 7vw;
}

}
