@font-face {
  font-family: 'Larsseit';
  src: url('../assets/fonts/Larsseit/Larsseit-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Larsseit';
  src: url('../assets/fonts/Larsseit/Larsseit-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Larsseit';
  src: url('../assets/fonts/Larsseit/Larsseit-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Larsseit';
  src: url('../assets/fonts/Larsseit/Larsseit-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Larsseit';
  src: url('../assets/fonts/Larsseit/Larsseit-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Larsseit';
  src: url('../assets/fonts/Larsseit/Larsseit-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Larsseit';
  src: url('../assets/fonts/Larsseit/Larsseit-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Larsseit';
  src: url('../assets/fonts/Larsesit/Larsseit-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Larsseit';
  src: url('../assets/fonts/Larsseit/Larsseit-ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Larsseit';
  src: url('../assets/fonts/Larsseit/Larsseit-ExtraBoldItalic.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
}


* {
cursor: none ;
margin: 0;
box-sizing: border-box;
}

body {
font-family: 'Larsseit', sans-serif;
font-weight: 400;
background-color: #fafafa;
margin: 0px;
overflow-x: hidden;
}

#cursor {
z-index: 30;
position: fixed;
width: 40px;
height: 40px;
background: white;
border-radius: 50%;
mix-blend-mode: difference;
pointer-events: none;
transition: transform .15s ease-in-out;
}

.navbar {
background-color: #fafafa;
margin-right: 20px;
margin-left: 20px;
top: 0px;
z-index: 10;
position: sticky;
display: flex;
align-items: center;
padding: 40px 20px 20px 20px;
height: 93px;
}

.logo{
margin-top: 2px;

}

.logo img {
position: relative;
width: 70px;
}

.link {
font-family: 'Larsseit', sans-serif;
font-weight: 300;
display: flex;
position: absolute;
right: 0;
}

.nav-links {
padding-left: 15px;
justify-content: right;
position: relative;
list-style: none;
display: flex;
gap: 15px;
}

.nav-links li a {
text-decoration: none;
color: #929292;
transition: color 0.3s ease;
}

.accueil li a {
text-decoration: none;
color: #000000;
}

.nav-links li a:hover {
color: #000;
cursor: none;
}

ul{
list-style: none;
}

.contact-btn {
  padding-left: 15px;
}

.contact-btn li a {
margin-right: 20px;
padding: 10px 20px;
border: 1px solid #711ff5;
border-radius: 50px;
text-decoration: none;
color: #711ff5;
transition: background-color 0.45s ease;
}

.contact-btn li a:hover {
background-color: #711ff5;
color: #fff;
cursor: none;
}

.InnerPadding {
  padding-left: 6.5vw;
  padding-right: 6.5vw;
}

.title {
  font-weight: 800;
  display: flex;
  align-items: center; 
  justify-content: center;
  font-size: 5vw;
  margin-top: 5vw;
}

.strokes {
  margin-top: -2.9vw;
  width: 4vw;
  margin-left: -1.7vw;
}

#container {
display: flex;
margin: auto;
width: 100%;
height: 10vw;
top: 0;
bottom: 0;
text-align: center;
justify-content: center;
filter: url(#threshold) blur(0.6px);
}

#text1,
#text2 {
position: absolute;
max-width: 1100%200px;
display: inline-block;
font-family: 'Larsseit', sans-serif;
font-weight: 800;
font-size: 6vw;
text-align: center;
user-select: none;

color: #711FF5
}

#filters {
width: 0px;
height: 0px;
}

.txtlandingpage {
  margin-left: auto;
  margin-right: auto;
  color:#000000;
  font-size: 1.4vw;
  text-align: center;
  width: 40vw;
  font-family: 'Larsseit', sans-serif;
  font-weight: 300;
}

.imglandingpage {
  width: 87vw;
  margin-top: -6vw;

}

@keyframes slide {
from{
transform: translateX(0);
}
to{
transform: translateX(-100%);
}
}

.logos{
overflow: hidden;
padding-top: 7vw;
white-space: nowrap;
position: relative;
}

.logos:before,
.logos:after {
position: absolute;
top: 0;
width: 300px;
height: 100%;
content: " ";
z-index: 2;
}

.logos:before {
left: 0;
background: linear-gradient(to left,rgba(250,250,250,0),#fafafa);
}

.logos:after {
right: 0;
background: linear-gradient(to right,rgba(250,250,250,0),#fafafa);
}

.logos-slide{
display: inline-block;
animation: 16.8s slide infinite linear;
}

.logos-slide img{
margin: 0px 25px;
height: 34px;
}


.colonnes {
margin-top: 17vw;
display: flex;
}

.colonne1 {
  padding-right: 2vw;
  width: 29vw;
}

.SmallTitle {
  font-weight: 600;
  font-size: 42px;
}

.UiUxDesign {
  font-size: 18px;
  margin-top: 20px;
  font-weight: 300;
  color: #4e4e4e;
}

.fleche1 {
  margin-left: 17vw;
  margin-top: 20px;
  height: 130px;
  transform: rotate(15deg)
}

.SmallTitle2 {
  margin-top: 560px;
  font-weight: 600;
  font-size: 42px;
}

.NoCode {
  font-size: 18px;
  margin-top: 20px;
  font-weight: 300;
  color: #4e4e4e;
}

.fleche3 {
  margin-top: 45px;
  margin-left: 14vw;
  height: 70px;
  transform: rotate(20deg)
}

.colonne2 {
  width: 29vw;
  display: flex;
}

.colonne2 img {
  top: 30%;
  position: sticky;
  width: 18vw;
  height: 37.5vw;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(10px 10px 20px rgb(139, 139, 139));
}

.colonne3 {
  width: 29vw;
}

.SmallTitle3 {
  margin-top: 475px;
  font-weight: 600;
  font-size: 42px;
}

.Grapique {
  font-size: 18px;
  margin-top: 20px;
  font-weight: 300;
  color: #4e4e4e;
}

.fleche2 {
  margin-top: 50px;
  height: 90px;
}